<div class="cover_bg">
    <div class="wrap login">
    <div class="header">
        <div class="logo"></div>
        <div class="status">
            <div class="avator"><img src="http://getimg.in/38" alt=""/></div>
            <div class="txt-status"><span class="txt-name">放星星的猫</span> | <a href="javascript:void(0);"  ng-click="logout()" class="txt_exit">退出账号</a></div>
        </div>
    </div>
    <div class="contact">
        <nav class="aside ">
            <div class="bd">
                <ul>
                    <li class="item">
                        <div class="avator"><img src="http://getimg.in/40" alt=""/></div>
                        <div class="group-name">设计讨论群</div>
                        <span class="wave"></span>
                    </li>
                    <li class="item">
                        <div class="avator"><img src="http://getimg.in/40" alt=""/></div>
                        <div class="group-name">自由讨论群</div>
                    </li>
                    <li class="item">
                        <div class="avator"><img src="http://getimg.in/40" alt=""/></div>
                        <div class="group-name">名字超级长超级长超级长超级长超级长</div>
                        <span class="wave"></span>
                    </li>
                    <li class="item active">
                        <div class="avator"><img src="http://getimg.in/40" alt=""/></div>
                        <div class="group-name">设计讨论群</div>
                        <span class="wave"></span>
                    </li>
                    <li class="item">
                        <div class="avator"><img src="http://getimg.in/40" alt=""/></div>
                        <div class="group-name">自由讨论群</div>
                    </li>
                    <li class="item">
                        <div class="avator"><img src="http://getimg.in/40" alt=""/></div>
                        <div class="group-name">名字超级长超级长超级长超级长超级长</div>
                    </li>
                    <li class="item active">
                        <div class="avator"><img src="http://getimg.in/40" alt=""/></div>
                        <div class="group-name">设计讨论群</div>
                    </li>
                    <li class="item">
                        <div class="avator"><img src="http://getimg.in/40" alt=""/></div>
                        <div class="group-name">自由讨论群</div>
                    </li>
                    <li class="item">
                        <div class="avator"><img src="http://getimg.in/40" alt=""/></div>
                        <div class="group-name">名字超级长超级长超级长超级长超级长</div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content">
            <!-- <div class="hd">
                <div class="menu"></div>
                <div class="close"></div>
                <div class="user-info">
                    <div class="avator"><img src="http://getimg.in/70" alt=""/></div>
                    <div class="user-name">名字超级长超级长超级长超级长超级长</div>
                </div>
            </div> -->

            <!--【从左侧选中一个微群】&【收起一个微群】-->
            <!-- <div class="hd">
                <div class="menu"></div>
            </div>
            <div class="no-chose-tips f30">从左侧选择一个微群</div> -->
            <!-- 【语音直播准备】-->
            <div class="hd live">
                <!--<div class="menu"></div>-->
                <div class="sign-out"></div>
                <div class="ui-modal">
                    <button type="button" class="ui-btn ui-btn-link">&times;</button>
                    <div class="ui-modal-body">
                        <h5>退出提示</h5>
                        <p>语音正在直播，确定退出？</p>
                    </div>
                    <div class="ui-modal-footer">
                        <a href="javascript:;" class="ui-btn ui-btn-primary ui-btn-wid">确定</a>
                        <a href="javascript:;" class="ui-btn ui-btn-wid">关闭</a>
                    </div>
                </div>
                <div class="avator"><img src="http://getimg.in/100" alt=""/></div>
                <div class="user-info">
                    <div class="user-name">名字超级长超级长超级长超级长超级长</div>
                    <p class="txt-green">正在直播</p>
                </div>
            </div>
            <div class="micro">
                <p class="voice_txt ">有人正在说话，请稍后再试</p>
                <div class="micro-bd">
                    <!--减少background-position: 122px 0; 里面的122px数字,可以向左增加音量-->
                    <div class="v_left"><span class="bg" style="background-position: 74px 0;"></span><span class="img"></span></div>
                    <div class="voice"></div>
                    <!--减少background-position: 122px 0; 里面的122px数字,可以向右增加音量-->
                    <div class="v_right"><span class="bg" style="background-position: -76px 0;"></span><span class="img"></span></div>
                </div>
            </div>
            <div class="tools">
                <ul>
                    <li class=""><span class="accompany"></span><span class="progressbar"><span class="progress" style="width: 65%"><span class="point"></span></span></span></li>
                    <li class=""><span class="microphone"></span><span class="txt">麦克风音量</span></li>
                </ul>
            </div>  
            <!-- 退出提示   -->
        </div>
    </div>

    <!--弹出-->
    <!-- <div class="mask"> -->
        <!--<div class="ui-modal">-->
            <!--<button type="button" class="ui-btn ui-btn-link">&times;</button>-->
            <!--<div class="ui-modal-body">-->
                <!--<h5>保存提示</h5>-->
                <!--<p>语音直播已结束，是否保存录音文件？</p>-->
            <!--</div>-->
            <!--<div class="ui-modal-footer">-->
                <!--<a href="javascript:;" class="ui-btn ui-btn-primary ui-btn-wid">确定</a>-->
                <!--<a href="javascript:;" class="ui-btn ui-btn-wid">关闭</a>-->
            <!--</div>-->
        <!--</div>-->
       <!--  <div class="ui-modal">
            <button type="button" class="ui-btn ui-btn-link">&times;</button>
            <div class="ui-modal-body">
                <h5>退出提示</h5>
                <p>语音正在直播，确定退出？</p>
            </div>
            <div class="ui-modal-footer">
                <a href="javascript:;" class="ui-btn ui-btn-primary ui-btn-wid">确定</a>
                <a href="javascript:;" class="ui-btn ui-btn-wid">关闭</a>
            </div>
        </div> -->
    <!-- </div> -->
    </div>
</div>
<!--
<h1>微群直播</h1>
<div><span>{{profile.user.nickname}}</span><a href="javascript:void(0);" ng-click="logout()">退出</a></div>
<p>共有{{grouplist.groupListTotal}}个群</p>
<ol>
	<li ng-repeat="groupInfo in grouplist.groupInfoList"><a href="javascript:void(0);" ng-click="enterOrSwitchAudioRoom(groupInfo.group.gid)" >{{groupInfo.group.gname}}</span></a></li>
</ol>
<button ng-click="startLiveAudio()" ng-disabled="!currentGroupId || audioRoomInfo">开始直播</button><button ng-click="stopLiveAudio()" ng-disabled="!audioRoomInfo">暂停直播</button>
<p>背景音乐</p>
<button ng-click="toggleBackgroundMusic()" ng-disabled="!audioRoomInfo">{{backgroundMusicEnabled && "关闭" || "打开"}}背景音乐</button>
<p>音量控制</p>
<p>麦克风音量:{{micVolume}} <button ng-click="decreaseMicVolume()">减小</button><button ng-click="increaseMicVolume()">增大</button></p>
<p>背景音乐音量:{{backgroundMusicVolume}} <button ng-click="decreaseBackgroundMusicVolume()">减小</button><button ng-click="increaseBackgroundMusicVolume()">增大</button></p>
-->
