<div class="cover_bg">
	<div class="wrap login">
	<div class="header">
		<div class="logo"></div>
		<div class="status">
			<div class="avator"><img width="38" height="38" ng-src="http://shp.qlogo.cn/wegroup/{{profile.user.uid}}/{{profile.user.uid}}/200"/></div>
			<div class="txt-status"><span class="txt-name">{{profile.user.nickname}}</span> | <a href="javascript:void(0);" class="txt_exit" ng-click="logout($event)">退出账号</a></div>
		</div>
	</div>
	<div class="contact">
		<div class="aside" ng-show="grouplist.groupListTotal > 1 || ((grouplist.groupListTotal == 1) && !currentGroupInfo)">
			<div class="bd">
				<ul>
					<li class="item" ng-repeat="groupInfo in grouplist.groupInfoList" ng-class="{'active': currentGroupInfo.group.gid == groupInfo.group.gid}" ng-click="enterOrSwitchAudioRoom(groupInfo.group.gid)">
					<div class="avator"><img ng-src="{{groupInfo.group.logo}}" width="40" height="40"/></div>
						<div class="group-name">{{groupInfo.group.gname}}</div>
						<span class="wave" ng-show="(currentGroupInfo.group.gid == groupInfo.group.gid) && audioRoomInfo"></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="content" ng-class="{'full':(grouplist.groupListTotal == 1) && currentGroupInfo}">
			<div class="no-chose-tips f30" ng-show="!currentGroupInfo"><span class="arr"></span>从左侧选择一个微群</div>
			<!-- 【语音直播准备】-->
			<div class="hd live" ng-class="{'l_invisible': currentGroupInfo == null}" ng-show="currentGroupInfo">
				<!--<div class="menu"></div>-->
				<div class="sign-out" ng-click="signOutAudioRoom()"></div>
				<div class="ui-modal" ng-show="exitAudioRoomDialogShown">
					<button type="button" class="ui-btn ui-btn-link" ng-click="hideExitAudioRoomDialog()">&times;</button>
					<div class="ui-modal-body">
						<h5>退出提示</h5>
						<p>语音正在直播，确定退出？</p>
					</div>
					<div class="ui-modal-footer">
						<a href="javascript:void(0);" class="ui-btn ui-btn-primary ui-btn-wid" ng-click="exitAudioRoomDirectly()">确定</a>
						<a href="javascript:void(0);" class="ui-btn ui-btn-wid" ng-click="hideExitAudioRoomDialog()">取消</a>
					</div>
					<span class="arr-down"></span>
				</div>
				<div class="avator"><img ng-src="{{currentGroupInfo.group.logo}}" width="100" height="100"/></div>
				<div class="user-info">
					<div class="user-name">{{currentGroupInfo.group.gname}}</div>
					<p class="txt-green" ng-show="audioRoomInfo">正在直播</p>
				</div>
			</div>
			<div class="micro" ng-show="currentGroupInfo">
				<p class="voice_txt" ng-bind="voiceMessage" ng-show="voiceMessage && !audioRoomInfo"></p>
				<p class="voice_txt txt-green" id="voiceTiming" ng-show="audioRoomInfo">00:00</p>
				<div class="micro-bd">
					<!--减少background-position: 122px 0; 里面的122px数字,可以向左增加音量-->
					<div class="v_left"><span class="bg" style="background-position: 122px 0;" id="energy_left"></span><span class="img"></span></div>
					<div class="voice" id="voiceButton" ng-class="{'disable': !currentGroupInfo, 'stop': currentGroupInfo && audioRoomInfo, 'start': currentGroupInfo && !audioRoomInfo}" ng-click="toggleLiveAudio($event)"></div>
					<!--减少background-position: 122px 0; 里面的122px数字,可以向右增加音量-->
					<div class="v_right"><span class="bg" style="background-position: -122px 0;" id="energy_right"></span><span class="img"></span></div>
				</div>
			</div>
			<div class="tools" ng-show="currentGroupInfo">
				<ul>
					<li class="">
					<span class="accompany" id="accompany" ng-click="toggleBackgroundMusic()">
					</span>
						<a href="javascript:void(0);" class="txt" ng-click="toggleBackgroundMusic()" ng-show="!backgroundMusicEnabled">添加QQ音乐伴奏</a>
						<span class="progressbar" ng-show="backgroundMusicEnabled" data-role="backgroundMusic">
							<span class="progress"><span class="point"></span></span>
						</span>
					</li>
					<li class="">
					<span ng-class="{'microphone-off': !micEnabled, 'microphone': micEnabled}" id="microphone" ng-click="toggleMic()"></span>
					<span class="progressbar" data-role="mic">
							<span class="progress" ng-show="micEnabled"><span class="point"></span></span>
						</span>
					</li>
				</ul>
			</div>  
		</div>
	</div>
	</div>
</div>
